*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.flex-div{
    display: flex;
    align-items: center;
    
    
}
.nav1{
    
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
}
.nav-left{
    width: 50%;
}
.nav-right{
    width: 50%;
    justify-content: end;
}
.nav-left .logo{
    width: 60px;
}
.nav-left button{
    margin: 0 10px;
    border: none;
    font-size: 15px;
    height: 60px;
    background-color: #fff;
    width: 80px;
}
.nav-left .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    width: 200px;
}
.nav-left  .search-box input{
    width: 200px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-right button{
    margin: 0 0px;
    border: none;
    font-size: 15px;
    background-color: #fff;
    height: 60px;
    width: 80px;
}
.nav-right .sign-btn{
     background-color: #04AA6D;
    color: white;
    
    
}
.sign-log{
      width: 40px;
      border-radius: 15px;
}
.nav-right .log-btn{
    background-color: lightgreen;
}
.nav-right .sign-log{
    
    height:30px;
    width: 60px;
    font-size: 16px;
    
}
.nav1 button:hover{
    background-color: #04AA6D;
}
.main button{
    margin: 0;
    border: none;
    font-size: 15px;
    background-color: #fff;
    

}
.main{
        background-image: url(/images/lynx_in_space.png), url(/images/background_in_space.gif);
        background-repeat: no-repeat, repeat;
        background-position: 90% 60%, center center;
        height: 600px;
    
        
}
.main .nav-two{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    
}
.nav2_btn button{
    background: transparent;
    color: white;
    width: fit-content;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 12px;
    font-size: 14px;

}
.content .search-box2{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    width: 500px;
    height: 40px;
    text-align: center;
    justify-content: space-between;
}
.content .search-box2 input{
    width: 200px;
    border: 0;
    outline: 0;
    background: transparent;
}
.main{
    width: 100%;
    text-align: center;
}
.main .content{
    display: inline-block;
    text-align: center;
    margin-top: 130px;
    

}
.content h1{
    color: #fff;
    margin-bottom: 30px;
    font-size: 60px;
}
.content h2{
    color:rgb(254, 254, 154);
    margin-bottom: 30px;
}
.content .search-box2{
    background-color: #fff;
    margin-bottom: 30px;
}
.content a{
    color: white;
    font-size: 21;
    font-weight: bold;

}
.html-block{
    background-color: #D9EEE1;
    width: 100%;
    height: 600px;
    display: flex;
    padding-bottom: 220px;

    
}
.html-content{
    width: 50%;
    padding-top: 100px;
    text-align: center;

}
.btn{
    
        border: none;
        width: 185px;
        height: 41px;
        border-radius: 30px;
        display: block;
        margin-top: 20px;
        color: #FFF;
        font-size: 15px;
        font-weight: bold;
        margin-left: 281px;
}
.html_ex .ex-page{
    width: 415px;
    height: 460px;
    background-color: #E7E9EB;
    
    padding: 40px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 140px;
}
.html_ex{
    width: 50%;
    padding-top: 80px;
    
}
.ex-page .html-code{
    background-color:white;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    
    

}
.btn2{
    border: none;
        width: 185px;
        height: 41px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        background-color: #04a96d;

}
.vl {
    border-left: 6px solid green;
    height: 300px;
    margin-right: 12px;
}
.container{
    background-color: #282A35;
    width: 100%;
    height: 6000px;
   
}
.box_container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}
.box-small{
    width: 600px;
    height: 270px;
    border-radius: 5px;
    margin: 60px 60px 60px 60px;
    text-align: center;
    padding-top: 50px;

}
.btn3{
    border: none;
    width: 185px;
    height: 41px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #04a96d;

}
.box-large{
    width: 600px;
    height: 140px;
    border-radius: 5px;
    margin: 60px 60px 60px 60px;
    text-align: center;
    padding-top: 50px;
}
.xsmall{
    width: 240px;
    height: 140px;
    border-radius: 5px;
    margin: 60px 60px 60px 60px;
    text-align: center;
    padding-top: 50px;
}
.boxes1{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.boxes .boxes2{
    margin-left: 290px;
}
.btn4 button{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}
.btn5{
    border: none;
    width: 300px;
    height: 41px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #04a96d;
    color: #FFF;
}
.check-img{
    display: flex; color: #fff; 
    margin-left: 620px;
}
